.container{
    text-align: center;
}

.header{
    height: 300px;
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
}

.bg{
    background: linear-gradient(to bottom, transparent,transparent,white),url('../img/header.jpeg') no-repeat center center / cover;
    z-index: -1;
    position: absolute;
    left:0;
    right: 0;
    height: 300px;
}

.title{
    color: yellow;
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
    font-family: 'DM Serif Text', serif;
}

.description{
    font-family: 'Handlee', cursive;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 35px;
}

.scrshot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scr{
    flex: 33%;
    max-width: 33%;
    padding: 0 10px;
}

.dp{
    border-radius: 100px;
    height: 300px;
}

.devtitle{
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    font-weight: bold;
}

#dev{
    margin-top: 10px;
    color: black;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}
