.burger{
  display: flex;
  flex-direction: column;
  width: 500px;
}
.db{
  transform: translateY(-20px);
}
.back{
  transform: translateY(-51px);
}
.host{
  transform: translateY(-51px);
}
.front,.api,.db,.back,.host{
  transition-duration: 150ms;
}
.front:hover{
  transform: scale(1.1);
  margin-bottom: 20px;
}
.api:hover{
  transform: scale(1.1);
  margin-top: 20px;
  margin-bottom: 20px;
}
.db:hover{
  transform: scale(1.1);
  margin-bottom: 30px;
}
.back:hover{
  margin-top: 15px;
  margin-bottom: 15px;
}
.host:hover{
  margin-top: 20px;
}

.container{
    text-align: center;
    padding: 0 !important;
    width: 100 vw;
}

.explain{
    font-family: 'Handlee', cursive;
    margin-bottom: 10px;
    font-size: 35px;
}

.header{
    height: 300px;
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
}

.expand{
    transition-duration: 150ms;
}

.icon{
    overflow: hidden;
    transition-duration: 300ms;

}
.icon:hover{
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
}

.expand:hover{
    transform: scale(1.3);
}

.burgerdiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#dev{
    margin-top: 10px;
    color: black;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bg{
    background: linear-gradient(to bottom, transparent,transparent,white),url('../img/header.jpeg') no-repeat center center / cover;
    z-index: -1;
    position: absolute;
    left:0;
    right: 0;
    height: 300px;
}

.title{
    color: yellow;
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
    font-family: 'DM Serif Text', serif;
}

.description{
    font-family: 'Handlee', cursive;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 35px;
}

.scrshot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scr{
    flex: 33%;
    max-width: 33%;
    padding: 0 10px;
    transition-duration: 150ms;
}

.scr:hover{
    z-index: 100;
    transform: scale(1.3);
}

.dp{
    border-radius: 100px;
    height: 300px;
    transition-duration: 150ms;
}

.dp:hover{
    border-radius: 0px;
}

.devtitle{
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    font-weight: bold;
}
